@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub:type~="z3998:signature"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

footer p + p{
	font-style: italic;
}
